* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Besley', serif;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid teal;
  border-radius: 10px;
  padding-bottom: 125px;
  margin: 50px 300px;
  background: #d7d7d8;
}

.App {
  width: 800px;
}

.post {
  display: flex;
  padding: 15px;
  border: 2px solid teal;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
  background: #fefefe;
  border-radius: 10px;
}

.post__btns {
  display: flex;
}

.post-enter {
  transform: translateX(-350px);
}

.post-enter-active {
  transform: translateX(0px);
  transition: all 500ms ease-in;
}

.post-exit {
  opacity: 1;
}

.post-exit-active {
  transform: translateX(-350px);
  transition: all 500ms ease-in;
}

.page__wrapper {
  margin-top: 30px;
  display: flex;
}

.page {
  padding: 10px;
  border: 2px solid teal;
  cursor: pointer;
  border-radius: 10px;
  margin-left: 5px;
}

.page__current {
  border: 3px solid orange;
  font-weight: bold;
  background: #fff;
}

.navbar {
  height: 50px;
  /*width: 100vw;*/
  display: flex;
  align-items: center;
  padding: 0 15px;
  /*background: lightgray;*/
  border: 2px solid teal;
  background: #fefefe;
  border-radius: 10px;
}

.navbar__links {
  margin-left: auto;
}

.post-enter {
  transform: translateX(-350px);
}

.post-enter-active {
  transform: translateX(0px);
  transition: all 500ms ease-in;
}

.post-exit {
  opacity: 1;
}

.post-exit-active {
  transform: translateX(-350px);
  transition: all 500ms ease-in;
}
@media (min-width: 340px) {
  #root {
    margin: 50px 110px;
  }
}
@media (min-width: 1900px) {
  #root {
    margin: 50px 300px;
  }
}
